extends ../template

block variables
  - var title = 'My blog'

block content
  h1 My blog
  ul
    li
      h2 Title
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, magni.
    li
      h2 Title
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, magni.
    li
      h2 Title
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, magni.